@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div role="content">
	<section class="light">
		<div class="container">
			<div class="row">
				@Html.Partial("Login")
			</div>
		</div>
	</section>
</div>
